<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>  
<body class="bg-light">  
    <nav class="navbar navbar-light bg-dark mb-4">
        <div class="container-fluid">
          <a class="navbar-brand d-flex flex-row justify-content-center" href="#">
            {% load static %}
            <img src="{% static '/img/dracula.png' %}" alt="" width="40" height="40" class="mx-4">
            <p class="mt-2 text-white">Wilmer's Employees</p>
          </a>
        </div>
      </nav>
      <div class="container py-4 rounded shadow bg-body">
        <table class="table table-sm table-hover">  
            <thead class="thead-dark">  
            <tr>  
                <th>Employee ID</th>  
                <th>Employee Name</th>  
                <th>Home Address</th> 
                <th>Office Address</th> 
                <th>Employee Email</th>  
                <th>Employee Contact</th>  
                <th>Actions</th>  
            </tr>  
            </thead>  
            <tbody>  
        {% for employee in employees %}  
            <tr>  
                <td>{{ employee.eid }}</td>  
                <td>{{ employee.ename }}</td> 
                <td>{{ employee.ehadd }}</td>  
                <td>{{ employee.eoadd }}</td>  
                <td>{{ employee.eemail }}</td>  
                <td>{{ employee.econtact }}</td>  
                <td>  
           
                <a href="/edit/{{ employee.id }}"><img src="{% static '/img/edit.png' %}" alt="" width="20" height="20" class="mx-1 text-success"></a>  
                <a href="/delete/{{ employee.id }}"><img src="{% static '/img/trash.png' %}" alt="" width="20" height="20" class="mx-1 text-danger"></a>  
                </td>  
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>  
        <br>  
        <br>  
        <center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
      </div>

</body>  
</html>  